@use 'src/styles/core/functions' as f;
@use 'src/styles/core/mixin' as m;
@use 'src/styles/core/config' as c;
@use 'src/styles/core/screen' as s;

.layout {
  display: grid;
  grid-template:
    ' .    .                    .' 150px
    ' .    profile              .' max-content
    ' .    .                    .' 40px
    ' .    skills               .' max-content
    ' .    .                    .' 40px
    ' .    project              .' max-content
    ' .    .                    .' 40px
    / auto minmax(auto, 1200px) auto;

  min-height: f.v(window-height, 100vh);

  font-family: c.fonts(roboto);
  font-size: f.size();
  line-height: f.lh();

  color: f.color(deep-blue);
  background-color: f.color(blue-grey);

  &__profile {
    grid-area: profile;
  }

  &__skills {
    grid-area: skills;
  }

  &__project {
    grid-area: project;
  }

  // MEDIA
  @include s.desktop {
    grid-template:
      ' .   .       .' 150px
      ' .   profile .' max-content
      ' .   .       .' 40px
      ' .   skills  .' max-content
      ' .   .       .' 40px
      ' .   project .' max-content
      ' .   .       .' 40px
      / 8px auto 8px;
  }

  @include s.tablet {
    grid-template:
      ' .   .       .' 90px
      ' .   profile .' max-content
      ' .   .       .' 40px
      ' .   skills  .' max-content
      ' .   .       .' 40px
      ' .   project .' max-content
      ' .   .       .' 40px
      / 8px auto 8px;
  }
}
