@use 'src/styles/core/functions' as f;
@use 'src/styles/core/mixin' as m;
@use 'src/styles/core/config' as c;

.layout {
  display: grid;
  grid-template:
    ' .    .                    .' 150px
    ' .    profile              .' max-content
    ' .    .                    .' 40px
    ' .    skills               .' auto
    / auto minmax(auto, 1200px) auto;

  height: f.v(window-height, 100vh);

  font-family: c.fonts(roboto);
  font-size: f.size();
  line-height: f.lh();

  color: f.color(deep-blue);
  background-color: f.color(blue-grey);

  &__profile {
    grid-area: profile;
  }

  &__skills {
    grid-area: skills;
  }
}
