@use 'src/styles/core/functions' as f;
@use 'src/styles/core/mixin' as m;

.switcher {
  @include m.flex($jc: flex-start);

  &__item {
    @include m.flex(center);
    @include m.square(32px);

    border: 1px solid f.color(deep-blue);
    border-left-width: 0;

    cursor: pointer;
    transition: all 0.3s;

    &:hover,
    &_type_active {
      box-shadow: 0 0 0 2px f.color(deep-blue);
    }

    &_type_active {
      box-shadow: 0 0 0 1px f.color(deep-blue);
    }

    &:first-child {
      border-radius: 2px 0 0 2px;
      border-left-width: 1px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }

  &__item:hover &__icon {
    transform: rotate(360deg);
    transition: all 0.5s;
  }
}
