@use 'src/styles/core/functions' as f;
@use 'src/styles/core/mixin' as m;
@use 'src/styles/core/screen' as s;

.skillTable {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: max-content;
  gap: 2px;

  width: max-content;

  background-color: f.color(deep-blue);
  border: 2px solid f.color(deep-blue);

  &__column {
    padding: 5px;

    background-color: f.color(warm-white);
  }

  // MEDIA
  @include s.mobile {
    grid-template-columns: minmax(100px, max-content) auto;

    &__column {
      @include m.text(f.size(14px));
      overflow-wrap: break-word;
    }
  }
}
