@use 'src/styles/core/functions' as f;
@use 'src/styles/core/mixin' as m;
@use 'src/styles/core/screen' as s;

.avatar {
  --_avatar-size: 265px;

  &__img {
    @include m.square(f.v(_avatar-size), 50%);
    object-fit: cover;
  }

  // MEDIA
  @include s.tablet {
    --_avatar-size: 150px;
  }
}
