@use 'src/styles/core/functions' as f;
@use 'src/styles/core/mixin' as m;
@use 'src/styles/core/screen' as s;

.profile {
  display: grid;
  grid-template:
    ' header '
    ' infos '
    ' languages '
    ' about '
    / auto;

  position: relative;

  padding-inline: 35px;
  padding-bottom: 35px;

  border-radius: 2px;
  background-color: f.color(warm-white);

  &__avatar {
    position: absolute;

    @include m.flex(center);

    @include m.square(300px, 50%);
    @include m.coords($t: -150px, $r: 170px);

    background-color: f.color(blue-grey);
  }

  &__header {
    grid-area: header;

    @include m.flex($jc: space-between);

    padding-top: 14px;
  }

  &__infos {
    grid-area: infos;

    margin-top: 18px;
    margin-left: 14px;
  }

  &__languages {
    grid-area: languages;

    margin-top: 24px;

    &Infos {
      margin-top: 14px;
      margin-left: 14px;
    }
  }

  &__about {
    grid-area: about;

    margin-top: 24px;
  }

  &__description {
    margin-top: 8px;
    margin-left: 14px;
  }

  &__socials {
    margin-top: 8px;
    margin-right: -16px;
  }

  // MEDIA
  @include s.laptop {
    grid-template:
      ' header header    ' 210px
      ' infos  languages '
      ' about  about     '
      / auto auto;

    &__title {
      align-self: flex-end;
    }

    &__languages {
      margin-top: unset;
      justify-self: center;
    }
  }

  @include s.tablet {
    grid-template:
      ' .         ' 90px
      ' header    '
      ' .         ' 10px
      ' infos     '
      ' .         ' 10px
      ' languages '
      ' .         ' 10px
      ' about     '
      / auto;

    &__avatar {
      @include m.square(175px, 50%);
      @include m.coords($t: -87.5px, $r: calc(50% + -87.5px));
    }

    &__header {
      @include m.flex(column, $ai: center, $gap: 8px);
    }

    &__title {
      align-self: center;
      text-align: center;
    }

    &__languages {
      justify-self: flex-start;
    }

    &__about {
      margin-top: unset;
    }
  }

  // MEDIA
  @include s.mobile {
    padding-inline: 25px;
    padding-bottom: 25px;

    &__title {
      font-size: calc(f.size(26px) - 1vw) !important;
      line-height: f.lh(42px) !important;
    }
  }
}
